API_GATEWAY_URL = "https://apse1.api.affinidi.io"
TOKEN_ENDPOINT = "https://apse1.auth.developer.affinidi.io/auth/oauth2/token"

# Personal Access Token (PAT) config
KEY_ID = "" # optional, unless unique value used on for the PAT
PASSPHRASE = "" # optional, unless private key is encrypted
TOKEN_ID = ""
PROJECT_ID = ""
PRIVATE_KEY = ""

# Configuration for Affinidi Iota Framework (websocket)
IOTA_CONFIG_ID=""
QUERY_ID=""

# Wallet DID
DID=""
