.jsii

*.js
!esbuild.config.js
*.d.ts

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# default build output
dist/

# Temporary folders
tmp/
temp/

# Custom
.idea/
.vscode/
