/*
 * Iam
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: info@affinidi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.affinidi.tdk.iam.client.apis;

import com.fasterxml.jackson.core.type.TypeReference;

import com.affinidi.tdk.iam.client.ApiException;
import com.affinidi.tdk.iam.client.ApiClient;
import com.affinidi.tdk.iam.client.BaseApi;
import com.affinidi.tdk.iam.client.Configuration;
import com.affinidi.tdk.iam.client.Pair;

import com.affinidi.tdk.iam.client.models.GrantAccessInput;
import com.affinidi.tdk.iam.client.models.GrantAccessOutput;
import com.affinidi.tdk.iam.client.models.UnauthorizedError;
import com.affinidi.tdk.iam.client.models.UnexpectedError;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.9.0")
public class AuthzApi extends BaseApi {

  public AuthzApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AuthzApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Grant access to the virtual file system
   * Grants access rights to a subject for the virtual file system
   * @param grantAccessInput Grant access to virtual file system (required)
   * @return GrantAccessOutput
   * @throws ApiException if fails to make API call
   */
  public GrantAccessOutput grantAccessVfs(GrantAccessInput grantAccessInput) throws ApiException {
    return this.grantAccessVfs(grantAccessInput, Collections.emptyMap());
  }


  /**
   * Grant access to the virtual file system
   * Grants access rights to a subject for the virtual file system
   * @param grantAccessInput Grant access to virtual file system (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return GrantAccessOutput
   * @throws ApiException if fails to make API call
   */
  public GrantAccessOutput grantAccessVfs(GrantAccessInput grantAccessInput, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = grantAccessInput;
    
    // verify the required parameter 'grantAccessInput' is set
    if (grantAccessInput == null) {
      throw new ApiException(400, "Missing the required parameter 'grantAccessInput' when calling grantAccessVfs");
    }
    
    // create path and map variables
    String localVarPath = "/v1/authz/vfs/access";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ConsumerTokenAuth" };

    TypeReference<GrantAccessOutput> localVarReturnType = new TypeReference<GrantAccessOutput>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "ConsumerTokenAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
