/*
 * Iam
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: info@affinidi.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.affinidi.tdk.iam.client.apis;

import com.fasterxml.jackson.core.type.TypeReference;

import com.affinidi.tdk.iam.client.ApiException;
import com.affinidi.tdk.iam.client.ApiClient;
import com.affinidi.tdk.iam.client.BaseApi;
import com.affinidi.tdk.iam.client.Configuration;
import com.affinidi.tdk.iam.client.Pair;

import com.affinidi.tdk.iam.client.models.ConsumerAuthTokenEndpointInput;
import com.affinidi.tdk.iam.client.models.ConsumerAuthTokenEndpointOutput;
import com.affinidi.tdk.iam.client.models.InvalidDIDError;
import com.affinidi.tdk.iam.client.models.UnauthorizedError;
import com.affinidi.tdk.iam.client.models.UnexpectedError;

import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.9.0")
public class ConsumerAuthApi extends BaseApi {

    public ConsumerAuthApi() {
        super(Configuration.getDefaultApiClient());
    }

    public ConsumerAuthApi(ApiClient apiClient) {
        super(apiClient);
    }

    /**
     * The Consumer OAuth 2.0 Token Endpoint Use open source libraries to perform OAuth 2.0 and OpenID Connect available
     * for any programming language. You can find a list of libraries here https://oauth.net/code/ The Ory SDK is not
     * yet able to this endpoint properly.
     *
     * @param consumerAuthTokenEndpointInput
     *            ConsumerAuthTokenEndpoint (required)
     *
     * @return ConsumerAuthTokenEndpointOutput
     *
     * @throws ApiException
     *             if fails to make API call
     */
    public ConsumerAuthTokenEndpointOutput consumerAuthTokenEndpoint(
            ConsumerAuthTokenEndpointInput consumerAuthTokenEndpointInput) throws ApiException {
        return this.consumerAuthTokenEndpoint(consumerAuthTokenEndpointInput, Collections.emptyMap());
    }

    /**
     * The Consumer OAuth 2.0 Token Endpoint Use open source libraries to perform OAuth 2.0 and OpenID Connect available
     * for any programming language. You can find a list of libraries here https://oauth.net/code/ The Ory SDK is not
     * yet able to this endpoint properly.
     *
     * @param consumerAuthTokenEndpointInput
     *            ConsumerAuthTokenEndpoint (required)
     * @param additionalHeaders
     *            additionalHeaders for this call
     *
     * @return ConsumerAuthTokenEndpointOutput
     *
     * @throws ApiException
     *             if fails to make API call
     */
    public ConsumerAuthTokenEndpointOutput consumerAuthTokenEndpoint(
            ConsumerAuthTokenEndpointInput consumerAuthTokenEndpointInput, Map<String, String> additionalHeaders)
            throws ApiException {
        Object localVarPostBody = consumerAuthTokenEndpointInput;

        // verify the required parameter 'consumerAuthTokenEndpointInput' is set
        if (consumerAuthTokenEndpointInput == null) {
            throw new ApiException(400,
                    "Missing the required parameter 'consumerAuthTokenEndpointInput' when calling consumerAuthTokenEndpoint");
        }

        // create path and map variables
        String localVarPath = "/v1/consumer/oauth2/token";

        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        String localVarQueryParameterBaseName;
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = { "application/json" };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = { "application/json" };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {};

        TypeReference<ConsumerAuthTokenEndpointOutput> localVarReturnType = new TypeReference<ConsumerAuthTokenEndpointOutput>() {
        };
        return apiClient.invokeAPI(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(), localVarPostBody, localVarHeaderParams, localVarCookieParams,
                localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, localVarReturnType);
    }

    @Override
    public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType,
            Map<String, String> additionalHeaders) throws ApiException {
        String localVarPath = url.replace(apiClient.getBaseURL(), "");
        StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        localVarHeaderParams.putAll(additionalHeaders);

        final String[] localVarAccepts = { "application/json" };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

        final String[] localVarContentTypes = { "application/json" };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

        String[] localVarAuthNames = new String[] {};

        return apiClient.invokeAPI(localVarPath, method, localVarQueryParams, localVarCollectionQueryParams,
                localVarQueryStringJoiner.toString(), request, localVarHeaderParams, localVarCookieParams,
                localVarFormParams, localVarAccept, localVarContentType, localVarAuthNames, returnType);
    }
}
